.fb-dot-matrix {
  width: 100%;
  height: 100%;
}

.fb-dot-matrix--fade {
  mask-image:
    radial-gradient(
      circle,
      #000 30%,
      transparent 80%
    );

  -webkit-mask-image:
    radial-gradient(
      circle,
      #000 30%,
      transparent 80%
    );
}